{% extends 'campus/dashboard_base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/chat.css' %}">
<!--<p style="margin-top: 100px; margin-left: 100px;">Test - Althaf ML</p>-->

{% block content %}
<div class="container" style="margin-top: 30px;">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1>Chat with {{ recipient.username }}</h1>
      <hr>
      <div id="chat" class="card card-body mb-3">
        {% if not message %}
          <div class="container ">
            <p> You have not initiated any chat with Admin yet.</p>
<!--            <p> Your chat history will be show here.</p>-->
          </div>
        {% else %}
          {% for message in messages %}
            {% if message.sender == user %}
              <div class="outgoing-message mb-3">
                <p>{{ message.text }}</p>
                <span class="small">{{ message.timestamp|date:"F j, Y, g:i a" }}</span>
              </div>
            {% else %}
              <div class="incoming-message mb-3">
                <p>{{ message.text }}</p>
                <span class="small">{{ message.timestamp|date:"F j, Y, g:i a" }}</span>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <form name="Chat_Form" method="POST" action="sent_message">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" name="message" placeholder="Type your message here..." class="form-control"><br>
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
