<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <title>Zyphor-Student</title>
        <link rel="icon" type="image/x-icon" href="{% static '/img/placement.png' %}">
        <link rel="stylesheet" href="{% static '/css/studentDashStyle.css' %}">
        <!--      <script src="{% static '/js/logoutScript.js' %}"></script>-->
    </head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'campus:student' %}">Dashboard</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i> Notifications
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <p style="text-align: center;">No new notifications from your TPO</p>
                                </li>
                                {% for notification in  user.notifications.unread %}
                                    <div>
                                        Message from <b>{{ notification.actor }}</b>
                                        <button class="dropdown-item" type="button">Hello{{ notification.description }}</button>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                                <i class="fa fa-user-circle"></i> Hi, {{user.first_name}} !
                                <span class="caret"></span>
                            </a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user-secret"></i> My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'campus:update_password' %}">
                                        <i class="fa fa-key"></i> Change Password
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'campus:logout' %}">
                                        <i class="fa fa-sign-out"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- /container -->
        </div>

        <!-- /Header -->

        <!-- Main -->

        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" style="margin-top: 60px">

            <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black">
                <!--<li class="nav-header"></li>-->
                <li>
                    <a href="{% url 'campus:student' %}">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'campus:updateStudentDetails'  %}">
                        <i class="fa fa-database"></i> Update Details
                    </a>
                </li>
                <!--                <li><a href="#"><i class="fa fa-history"></i> My history / Drives</a></li>-->
                <!--                <li><a href=""><i class="fa fa-lock"></i> Change Password</a></li>-->
                <li>
                    <a href="{% url 'campus:viewDrive' %}">
                        <i class="fa fa-folder"></i> Drives
                    </a>
                </li>
                <li>
                    <a href="{% url 'campus:payment' %}">
                        <i class="fa fa-money"></i> One Time Payment
                    </a>
                </li>
                <li>
                    <a href="{% url 'campus:quiz_mode' %}">
                        <i class="fa fa-question"></i> Quiz
                    </a>
                </li>

            </ul>
        </div><!-- /span-3 -->
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
            <!-- Right -->
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    .card {
        width: 95%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
        padding: 16px;
        margin: 16px;
        background-color: #fff;
        display: inline-block;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        font-size: 20px;
        text-align: auto;
        padding: 15px;
    }

    td {
        font-weight: bold;
    }

    th {
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>