<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Reset Password Done</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h3>Reset Password Complete </h3>-->
<!--    <p style="text-align: justify; font-size: 10px; font-family: sans-serif;">Password reset completed successfully. You may go ahead and log in now.</p>-->
<!--    <a href="{% url 'home' %}" style="font-size: 12px">&ndash;&gt;Log in</a>-->
<!--</body>-->
<!--</html>-->

<h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="/">Log in</a>
