<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Reset Your Password</title>-->
<!--    <style>-->
<!--        .button {-->
<!--            background-color: #4CAF50; /* Green */-->
<!--            border: none;-->
<!--            color: white;-->
<!--            padding: 12px 12px;-->
<!--            text-align: center;-->
<!--            text-decoration: none;-->
<!--            display: inline-block;-->
<!--            font-size: 16px;-->
<!--            height: auto;-->
<!--            margin: 4px 2px;-->
<!--            transition-duration: 0.4s;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        .button {-->
<!--            background-color: white;-->
<!--            color: black;-->
<!--            border: 2px solid #4CAF50;-->
<!--        }-->
<!--        .button:hover {-->
<!--            background-color: #4CAF50;-->
<!--            color: white;-->
<!--        }-->

<!--        .button1 {-->
<!--            background-color: white;-->
<!--            color: black;-->
<!--            border: 2px solid #008CBA;-->
<!--        }-->
<!--        .button1:hover {-->
<!--            background-color: #008CBA;-->
<!--            color: white;-->
<!--        }-->

<!--        input[type=email] {-->
<!--            width: 30%;-->
<!--            padding: 12px 20px;-->
<!--            margin: 8px 0;-->
<!--            box-sizing: border-box;-->
<!--            border: 3px solid #ccc;-->
<!--            -webkit-transition: 0.5s;-->
<!--            transition: 0.5s;-->
<!--            outline: none;-->
<!--        }-->

<!--        input[type=email]:focus {-->
<!--            border: 3px solid #555;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <h3>Password Reset</h3>-->
<!--    <p style="text-align: justify; font-size: 15px; font-family: sans-serif;">We've received a reset password request from your end.-->
<!--        <br>Please provide your email address which we can send you the password reset link.-->
<!--        <br><br>(*)Ignore if you are not requested for reset your password.</p>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        <input type="email" name="resetpass" onkeypress="emailValidation(this)" placeholder="provide your valid email">-->
<!--        <button type="submit" class="button button" name="sent">Generate Link</button>-->
<!--        <a href="{% url 'home' %}">-->
<!--&lt;!&ndash;            <button class="button button1">Back to log in</button>&ndash;&gt;-->
<!--        </a>-->
<!--    </form>-->
<!--</body>-->

<!--<script>-->
<!--	function emailValidation(inputTxt){-->
<!--		// ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$-->
<!--		var regx = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;-->
<!--		var textField = document.getElementById("mail");-->

<!--		if(inputTxt.value != '' ){-->
<!--			if(inputTxt.value.match(regx)){-->
<!--				textField.textContent = '';-->
<!--				textField.style.color = "green";-->
<!--			}else{-->
<!--				textField.textContent = 'email is not valid!!!';-->
<!--				textField.style.color = "red";-->
<!--			}-->
<!--		}else{-->
<!--			textField.textContent = 'your input is empty';-->
<!--			textField.style.color = "red";-->
<!--		}-->
<!--	}-->
<!--</script>-->
<!--</html>-->

<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">

</form>