{% extends 'campus/dashboard_base.html' %}
{% load static %}
{% block content %}
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12" style="margin-top: 80px">
            <!-- Right -->

            <a href="{% url 'campus:student' %}"><strong><span class="fa fa-dashboard"></span> My Dashboard / </strong></a>
            <a href="{% url 'campus:quiz_mode' %}"><strong><span class="fa fa-question"></span> Quiz List / </strong></a>
            <hr>

            <div class="row">
              <div class="col-sm-5">
                <div class="card" style="margin-top: 50px; margin-left: 20px;">
                  <div class="card-body">
                    <h5 class="card-title">Practice Mode</h5>
                    <p class="card-text">Take a quick aptitude test.</p>
                    <a href="{% url 'campus:quiz' %}" class="btn btn-primary">Quick Test</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="card" style="margin-top: 50px; margin-right: -210px;">
                  <div class="card-body">
                    <h5 class="card-title">Quiz List</h5>
                    <p class="card-text">Aptitude Quiz.</p>
                    <a href="{% url 'campus:quiz_list' %}" class="btn btn-primary">Mock Test</a>
                  </div>
                </div>
              </div>
            </div>
        </div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}