<!DOCTYPE html>
{% extends 'campus/dashboard_base.html' %}
{% load static %}

<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
    <title>Zyphor-Student</title>
      <link rel="icon" type="image/x-icon" href="{% static '/img/placement.png' %}">
      <link rel="stylesheet" href="{% static '/css/studentDashStyle.css' %}">
<!--      <script src="{% static '/js/logoutScript.js' %}"></script>-->
  </head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<body>

        {% block content %}
            <a href="{% url 'campus:student' %}"><strong><span class="fa fa-dashboard"></span> My Dashboard</strong></a>
            <hr>
<!--            <div class="container p-3 my-3 bg-dark text-white">-->
            <div class="card" style="width: auto; height: auto;">
                <h2><u>Account Info</u></h2><br>
                <table>
                    <tr>
                        <th>Your Admission Number : </th>
                        <td>{{user.admino}}
<!--                            <input type="text" name="admino" id="admino" value="{{user.admino}}" disabled>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Your First Name : </th>
                        <td>{{user.first_name}}
<!--                            <input type="text" name="fname" id="fname" value="{{user.first_name}}" disabled>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Your Last Name : </th>
                        <td>{{user.last_name}}
<!--                            <input type="text" name="lname" id="lname" value="{{user.last_name}}" disabled>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Your Email Address : </th>
                        <td>{{user.email}}
<!--                            <input type="text" name="email" id="email" value="{{user.email}}" disabled>-->
                        </td>
                    </tr>
                </table>
            </div>
                <br><br>
                <div class="card" style="height: 300px; overflow: auto;">
                    <h2><u>Practice Mode Result</u></h2><br>
                    <table border="1">
                        <tr>
                            <th style="text-align: center;">Attempts</th>
                            <th style="text-align: center;">Attended On</th>
                            <th style="text-align: center;">Correct</th>
                            <th style="text-align: center;">Wrong</th>
                            <th style="text-align: center;">No. Questions</th>
                            <th style="text-align: center;">Time</th>
                        </tr>
                        {% if quiz_result %}
                            {% for result in quiz_result %}
                                <tr>
                                    <td style="text-align: center;">{{ forloop.counter }}</td>
                                    <td style="text-align: center;">{{ result.quiz_taken_on }}</td>
                                    <td style="text-align: center;">{{ result.correct }}</td>
                                    <td style="text-align: center;">{{ result.wrong }}</td>
                                    <td style="text-align: center;">{{ result.total }}</td>
                                    <td style="text-align: center;">{{ result.time }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" style="text-align: center;">No record</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6" style="text-align: center;">No record</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            <div class="card">
                <h2><u>Aptitude Quiz</u></h2><br>
                <table border="1">
                    <tr>
                        <th style="text-align: center;">Attempts</th>
                        <th style="text-align: center;">Quiz Name</th>
                        <th style="text-align: center;">Attended On</th>
                        <th style="text-align: center;">Correct</th>
                        <th style="text-align: center;">Wrong</th>
                        <th style="text-align: center;">No. Questions</th>
                    </tr>
                    {% if aiken_result %}
                        {% for result in aiken_result %}
                            <tr>
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td style="text-align: center;">{{ result.quiz_name }}</td>
                                <td style="text-align: center;">{{ result.quiz_taken_on }}</td>
                                <td style="text-align: center;">{{ result.correct }}</td>
                                <td style="text-align: center;">{{ result.wrong }}</td>
                                <td style="text-align: center;">{{ result.total }}</td>

                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" style="text-align: center;">No record</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" style="text-align: center;">No record</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        {% endblock %}
</body>
</html>
