<!DOCTYPE html>
{% load static %}
{% block content %}

<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
    <title>Zyphor-Student</title>
      <link rel="icon" type="image/x-icon" href="{% static '/img/placement.png' %}">
      <link rel="stylesheet" href="{% static '/css/studentDashStyle.css' %}">
<!--      <script src="{% static '/js/logoutScript.js' %}"></script>-->
  </head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<body>
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'campus:student' %}">Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> Notifications
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <p style="text-align: center;">No new notifications from your TPO</p>
                            </li>
                            {% for notification in  user.notifications.unread %}
                            <div>
                                Message from <b>{{ notification.actor }}</b>
                                <button class="dropdown-item" type="button">Hello{{ notification.description }}</button>
                            </div>
                            <div class="dropdown-divider"></div>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="fa fa-user-circle"></i> Hi, {{user.first_name}} !
                            <span class="caret"></span>
                        </a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user-secret"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'campus:update_password' %}">
                                    <i class="fa fa-key"></i> Change Password
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'campus:logout' %}">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
            <!-- /container -->
        </div>

        <!-- /Header -->

        <!-- Main -->

        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">

            <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black">
                <!--<li class="nav-header"></li>-->
                <li><a href="{% url 'campus:student' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="{% url 'campus:updateStudentDetails'  %}"><i class="fa fa-database"></i> Update Details</a></li>
<!--                <li><a href="#"><i class="fa fa-history"></i> My history / Drives</a></li>-->
<!--                <li><a href=""><i class="fa fa-lock"></i> Change Password</a></li>-->
                <li><a href="{% url 'campus:viewDrive' %}"><i class="fa fa-folder"></i> Drives</a></li>
                <li><a href="{% url 'campus:payment' %}"><i class="fa fa-money"></i> One Time Payment</a></li>
                <li><a href="{% url 'campus:quiz_mode' %}"><i class="fa fa-question"></i> Quiz</a></li>

            </ul>
        </div><!-- /span-3 -->
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
            <!-- Right -->

            <a href="{% url 'campus:student' %}"><strong><span class="fa fa-dashboard"></span> My Dashboard</strong></a>
            <hr>
<!--            <div class="container p-3 my-3 bg-dark text-white">-->
            <div class="card">
                <h2><u>Account Info</u></h2><br>
                <table>
                    <tr>
                        <th>Your Admission Number : </th>
                        <td>{{user.admino}}
<!--                            <input type="text" name="admino" id="admino" value="{{user.admino}}" disabled>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Your First Name : </th>
                        <td>{{user.first_name}}
<!--                            <input type="text" name="fname" id="fname" value="{{user.first_name}}" disabled>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Your Last Name : </th>
                        <td>{{user.last_name}}
<!--                            <input type="text" name="lname" id="lname" value="{{user.last_name}}" disabled>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Your Email Address : </th>
                        <td>{{user.email}}
<!--                            <input type="text" name="email" id="email" value="{{user.email}}" disabled>-->
                        </td>
                    </tr>
                </table>
            </div>
                <br><br>
                <div class="card" style="height: 300px; overflow: auto;">
                    <h2><u>Practice Mode Result</u></h2><br>
                    <table border="1">
                        <tr>
                            <th style="text-align: center;">Attempts</th>
                            <th style="text-align: center;">Attended On</th>
                            <th style="text-align: center;">Correct</th>
                            <th style="text-align: center;">Wrong</th>
                            <th style="text-align: center;">No. Questions</th>
                            <th style="text-align: center;">Time</th>
                        </tr>
                        {% if quiz_result %}
                            {% for result in quiz_result %}
                                <tr>
                                    <td style="text-align: center;">{{ forloop.counter }}</td>
                                    <td style="text-align: center;">{{ result.quiz_taken_on }}</td>
                                    <td style="text-align: center;">{{ result.correct }}</td>
                                    <td style="text-align: center;">{{ result.wrong }}</td>
                                    <td style="text-align: center;">{{ result.total }}</td>
                                    <td style="text-align: center;">{{ result.time }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" style="text-align: center;">No record</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6" style="text-align: center;">No record</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            <div class="card">
                <h2><u>Aptitude Quiz</u></h2><br>
                <table border="1">
                    <tr>
                        <th style="text-align: center;">Attempts</th>
                        <th style="text-align: center;">Quiz Name</th>
                        <th style="text-align: center;">Attended On</th>
                        <th style="text-align: center;">Correct</th>
                        <th style="text-align: center;">Wrong</th>
                        <th style="text-align: center;">No. Questions</th>
                        <th style="text-align: center;">Time</th>
                    </tr>
                    {% if aiken_result %}
                        {% for result in aiken_result %}
                            <tr>
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td style="text-align: center;">{{ result.quiz_name }}</td>
                                <td style="text-align: center;">{{ result.correct }}</td>
                                <td style="text-align: center;">{{ result.wrong }}</td>
                                <td style="text-align: center;">{{ result.total }}</td>
                                <td style="text-align: center;">{{ result.quiz_taken_on }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" style="text-align: center;">No record</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" style="text-align: center;">No record</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
{% endblock %}
    </div>
</body>
</html>

<style>
    .card {
        width: 95%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
        padding: 16px;
        margin: 16px;
        background-color: #fff;
        display: inline-block;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        font-size: 20px;
        text-align: auto;
        padding: 15px;
    }

    td {
        font-weight: bold;
    }

    th {
        font-weight: bold;

    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
