<!DOCTYPE html>
{% extends 'campus/teacher_dashboard_base.html' %}
{% load static %}

<html lang="en">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <title>Zyphor-Student</title>
        <link rel="icon" type="image/x-icon" href="{% static '/img/placement.png' %}">
        <link rel="stylesheet" href="{% static '/css/studentDashStyle.css' %}">
        <!--      <script src="{% static '/js/logoutScript.js' %}"></script>-->
    </head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <body>

        {% block content %}

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <a href="{% url 'campus:teacher' %}"><strong><span class="fa fa-dashboard"></span> My Dashboard</strong></a>
            <hr>
<!--            <div class="container p-3 my-3 bg-dark text-white">-->

            <div class="container" style="display: flex; height: auto; width: 100%">
                <div class="card" style="width: auto; height: auto;">
                    <h2><u>Account Info</u></h2><br>
                    <table>
                        <tr>
                            <th>Your First Name : </th>
                            <td>{{user.first_name}}
    <!--                            <input type="text" name="fname" id="fname" value="{{user.first_name}}" disabled>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Your Middle Name : </th>
                            <td>{{user.middle_name}}
    <!--                            <input type="text" name="fname" id="fname" value="{{user.first_name}}" disabled>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Your Last Name : </th>
                            <td>{{user.last_name}}
    <!--                            <input type="text" name="lname" id="lname" value="{{user.last_name}}" disabled>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Your Email Address : </th>
                            <td>{{user.email}}
    <!--                            <input type="text" name="email" id="email" value="{{user.email}}" disabled>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Your Class : </th>
                            <td>{{user.department}}
    <!--                            <input type="text" name="email" id="email" value="{{user.email}}" disabled>-->
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        {% endblock %}
    </body>
</html>
