<!DOCTYPE html>
{% extends 'campus/dashboard_base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zyphor-Password Update</title>
	<link rel="icon" type="image/x-icon" href="{% static '/img/placement.png' %}">
</head>

{% block content %}
<link rel="stylesheet" href="{% static '/css/change_password.css' %}">
<div class="mainDiv">
  <div class="cardStyle">
    <form action="{% url 'campus:password_changed' %}" method="post" name="signupForm" id="signupForm">
      {% csrf_token %}

      <img src="" id="signupLogo"/>

      <h2 class="formTitle">
        Enter your account details
      </h2>

    <div class="inputDiv">
      <label class="inputLabel" for="current-password">Enter Current Password</label>
      <input type="password" id="current-password" name="current-password" autocomplete="off" required>
    </div>
        <span id="current-password-error" style="margin-left: 75px;"></span>

    <div class="inputDiv">
      <label class="inputLabel" for="new-password">New Password</label>
      <input type="password" id="new-password" name="new-password" autocomplete="off" required>
    </div>
        <span id="new-password-error" style="margin-left: 75px;"></span>

    <div class="inputDiv">
      <label class="inputLabel" for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" name="confirm-password" autocomplete="off" required>
    </div>
        <span id="confirm-password-error" style="margin-left: 75px;"></span>

    <div class="buttonWrapper">
<!--      <a href="">-->
        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
          <span>Continue</span>
        </button>
<!--      </a>-->
    </div>

    <div class="buttonWrapper">
      <a href="{% url 'campus:student' %}">
      <button type="button" id="cancelButton" class="cancelButton pure-button pure-button-primary">
        <span>Cancel</span>
      </button>
      </a>
    </div>

  </form>
  </div>
</div>

<script>
    const currentPasswordInput = document.getElementById('current-password');
    const currentPasswordErrorSpan = document.getElementById('current-password-error');
    const newPasswordInput = document.getElementById('new-password');
    const newPasswordErrorSpan = document.getElementById('new-password-error');
    const confirmPasswordInput = document.getElementById('confirm-password');
    const confirmPasswordErrorSpan = document.getElementById('confirm-password-error');

    currentPasswordInput.addEventListener('input', validateCurrentPassword);
    newPasswordInput.addEventListener('input', validateNewPassword);
    confirmPasswordInput.addEventListener('input', validateConfirmPassword);
    function validateCurrentPassword() {
      const currentPassword = currentPasswordInput.value;
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{6,}$/;
        if (passwordRegex.test(currentPassword)) {
            currentPasswordErrorSpan.textContent = '';
            return true;
        } else {
            currentPasswordErrorSpan.textContent = '* Password pattern not matches';
            currentPasswordErrorSpan.style.color = 'red';
            return false;
        }
    }

    function validateNewPassword() {
        const newPassword = newPasswordInput.value;
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{6,}$/;
        if (passwordRegex.test(newPassword)) {
            newPasswordErrorSpan.textContent = '';
            return true;
        } else {
            newPasswordErrorSpan.innerHTML = '* New password must be at least 6 characters, at least one capital letter, one special character, and one number';
            newPasswordErrorSpan.style.color = 'red';
            return false;
        }
    }

    function validateConfirmPassword() {
        const confirmPassword = confirmPasswordInput.value;
        if (confirmPassword !== newPasswordInput.value) {
            confirmPasswordErrorSpan.textContent = '* Passwords do not match';
            confirmPasswordErrorSpan.style.color = 'red';
            return false;
        } else {
            confirmPasswordErrorSpan.textContent = '';
            return true;
        }
    }

</script>

{% endblock %}
