{% extends 'campus/dashboard_base.html' %}
{% load static %}
{% block content %}
    <div style="margin-top: 80px;">
        <marquee>
            <h3 align="center" style="color: red;">Latest Update on Drives</h3>
        </marquee>

        <table>
            <tr>
                <th>No</th>
                <th>Company</th>
                <th>Package(LPA)</th>
                <th>Description</th>
                <th>Due Date</th>
<!--                <th>Status</th>-->
                <th>Action</th>
            </tr>
            {% if error %}
                <tr>
                    <td colspan="6">
                        <p style="color:red; text-align: center;" size="4px"> {{ error }} </p>
                    </td>
                </tr>
            {% else %}
                {% for view in viewDrive %}
                    {% for display in display_drives %}
                        <tr>
                            {% if display == view.id %}
                                <td>{{ forloop.counter }}</td>
                                <td> {{ view.company_name }} </td>
                                <td> {{ view.salary_package }} </td>
                                <td> {{ view.description }} </td>
                                <td> {{ view.last_date }} </td>
            <!--                    <td> {{ view.status }}</td>-->
                                <td>
                                    <a href="{% url 'campus:register_drive' view.id %}">
                                        <button class="btn btn-primary">Apply</button>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}

        </table>
    </div>
<style>
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #6d64b5;
  color: white;
    height: 40px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
{% endblock %}